body {
	background-color:#f1e3d1;
	font-family: "微軟正黑體", sans-serif;
}

@media (min-width: 1200px) {
.flex-header {
    display: flex;
    justify-content: flex-start;
    color: white;
	/* border: 2px solid black; */
    background-color:#09713e;
    width: 70%;
    margin: auto;
    border-radius: 15px 15px 0px 0px;
 }
 .site-title {
    margin-top: 5%;  
    margin-left: 5%;
    font-size: 300%;
}

.set-subtitle {
    font-size: 200%;
    margin-left: 1%;
    margin-top: 7%; 
}

.logo {
   margin-top: 10%;  
   margin-left: 25%;
   margin-bottom: 3%; 
   width: 60%;
}

.logo-wrap {
    width: 15%;
}

.bookmark {
    margin-left: 40%;
    width: 15%;
}

.star {
    width: 12%;
    padding-top: 10%;
    padding-left: 15%;
}

.bookmark-url{
    font-size: 150%;
}

}

@media (max-width: 768px) {
.flex-header  {
    display: flex;
    justify-content: flex-start;
    color: white;
	/* border: 2px solid black; */
    background-color:#09713e;
    width: 90%;
    margin: auto;
    border-radius: 15px 15px 0px 0px;
 }
 .site-title {
    margin-top: 5%;  
    margin-left: 5%;
    font-size: 120%;
 }
 .set-subtitle {
    visibility: hidden;
    font-size: 0%;
    margin-left: 1%;
    margin-top: 7%; 
}
.logo {
   margin-top: 5%;  
   margin-left: 5%;
   margin-bottom: 3%; 
   width: 70%;
}

.logo-wrap {
    width: 25%;
}

.bookmark {
    margin-left: 18%;
    width: 55%;
}

.star {
    width: 10%;
    padding-top: 10%;
    padding-left: 15%;
}

.bookmark-url{
    font-size: 150%;
}

}

.content {
    padding: 10px 10px 10px 10px;  
}

.content-intro {
    font-size: 150%;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

.no-dishes {
    font-size: 130%;
    color: blue;
    text-align: center;
    padding-top: 5%;
}

.table {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    border: 3px solid gray;
}

@media (min-width: 1200px) {
.main {
    background-color:white;
    width: 70%;
    margin: auto;
}
.label {
    padding-top: 50px;
    padding-right: 1%;
    padding-left: 40%;
    font-size: 150%;
}

.options {
    padding-left: 6%;
    margin-left: 40%;
}

.btn-submit {
    border:0;
    background-color:steelblue;
    color:#fff;
    border-radius:10px;
    width: 200px;
    height: 60px;
    margin-top: 5%;
    margin-left: 42%;
    font-size: 150%;
}

.btn-delete-bookmark {
    border:0;
    background-color:steelblue;
    color:#fff;
    border-radius:10px;
    width: 250px;
    height: 60px;
    margin-top: 5%;
    margin-left: 42%;
    font-size: 100%;
}

.footer {
    background-color: aliceblue;
    color:firebrick;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}

.openai-logo {
    width: 10%;
}

}

@media (max-width: 768px) {
.main {
    background-color:white;
    width: 90%;
    margin: auto;
}
.label {
    padding-top: 50px;
    padding-right: 1%;
    padding-left: 20%;
    font-size: 150%;
}
.options {
    padding-left: 3%;
    margin-left: 20%;
}

.btn-submit {
    border:0;
    background-color:steelblue;
    color:#fff;
    border-radius:10px;
    width: 200px;
    height: 60px;
    margin-top: 5%;
    margin-left: 20%;
    font-size: 150%;
}

.btn-delete-bookmark {
    border:0;
    background-color:steelblue;
    color:#fff;
    border-radius:10px;
    width: 250px;
    height: 60px;
    margin-top: 5%;
    margin-left: 12%;
    font-size: 100%;
}

.footer {
    background-color: aliceblue;
    color:firebrick;
    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}

.openai-logo {
    width: 30%;
}

}

.dish-name {
    color:blue;
}