body {
	background-color: #36454F;
	font-family: "微軟正黑體", sans-serif;
}

.content {
    margin: auto;
    width: 80%;
    padding-top: 5%;
}

.content-intro {
    font-size: 150%;
    padding-bottom: 5%;
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.no-dishes {
    font-size: 130%;
    color: blue;
    text-align: center;
    padding-top: 5%;
}

.table {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    border: 3px solid gray;
}

.dish-name {
    color: white;
    background-color: #343434;
    text-align: center;
}

.dish-table {
    margin: auto;
}

#bookmark_id {
    padding-top: 20px;
    padding-bottom: 60px;
    margin: auto;
}

/*Section of PC size*/

@media (min-width: 1200px) {

.flex-header {
    display: flex;
    justify-content: flex-start;
    color: white;
    background-color:#09713e;
    width: 70%;
    margin: auto;
    border-radius: 15px 15px 0px 0px;
 }
 .site-title {
    margin-top: 5%;  
    margin-left: 5%;
    font-size: 300%;
}

.set-subtitle {
    font-size: 200%;
    margin-left: 1%;
    margin-top: 7%; 
}

.logo {
   margin-top: 10%;  
   margin-left: 25%;
   margin-bottom: 3%; 
   width: 60%;
}

.logo-wrap {
    width: 15%;
}

.side-menu{
    margin-left: 0;
    margin-top: 0;
    width: 200px;
    background-color: #f1e3d1;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    color: #000;
    font-size: 150%;
    a { 
        text-decoration: none; 
        display: inline-block;
        border-bottom: solid 1px #F2D2BD;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-weight: bold;
    }
    a:visited { color: black; }
    a:hover {
        color: white;
        background-color: #967969; 
    }
    
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    
}

.main {
    background-color:white;
    width: 70%;
    margin: auto;
    display: flex;
}

.label {
    padding-top: 50px;
    font-size: 150%;
}

.options {
    text-align: center;
}

.btn-submit {
    border:0;
    background-color:steelblue;
    color:#fff;
    border-radius:10px;
    width: 200px;
    height: 60px;
    margin-top: 5%;
    font-size: 150%;
}

.btn-submit-over {
    border:0;
    background-color:blue;
    color:#fff;
    border-radius:10px;
    width: 200px;
    height: 60px;
    margin-top: 5%;
    font-size: 150%;
}

.btn-delete-bookmark {
    border:0;
    background-color:steelblue;
    color:#fff;
    border-radius:10px;
    width: 250px;
    height: 60px;
    margin-top: 2%;
    font-size: 100%;
}

.btn-delete-bookmark-over {
    border:0;
    background-color:blue;
    color:#fff;
    border-radius:10px;
    width: 250px;
    height: 60px;
    margin-top: 2%;
    font-size: 100%;
}

.footer {
    background-color: aliceblue;
    color:black;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}

.openai-logo {
    width: 10%;
}

#ai-prog {
  width: 70%;
  margin: auto;
  background-color: #ddd;
}

}

/*endof PC size*/


/*Section of mobile device size*/
@media (max-width: 768px) {
.flex-header  {
    display: flex;
    justify-content: flex-start;
    color: white;
    background-color:#09713e;
    width: 90%;
    margin: auto;
    border-radius: 15px 15px 0px 0px;
 }
 .site-title {
    margin-top: 5%;  
    margin-left: 2%;
    font-size: 150%;
 }
 .set-subtitle {
    visibility: hidden;
    font-size: 0%;
    margin-left: 1%;
    margin-top: 7%; 
}
.logo {
   margin-top: 5%;  
   margin-left: 5%;
   margin-bottom: 3%; 
   width: 70%;
}

.logo-wrap {
    width: 25%;
}

.side-menu{
    margin-left: 0;
    width: 100%;
    background-color: #f1e3d1;
    border: solid 1px #023020;
}

.menu {
    width: 100%;
    color: #000;
    font-size: 150%;
    a { 
        text-decoration: none; 
        display: inline-block;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-weight: bold;
    }
    a:visited { color: black; }
    a:hover {
        color: white;
        background-color: #967969; 
    }
    
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: row;

}

.main {
    background-color:white;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction:column;
}

.bookmark {
    margin-left: 18%;
    width: 55%;
}

.label {
    padding-top: 50px;
    font-size: 150%;
}
.options {
    text-align: center;
}

.btn-submit {
    border:0;
    background-color:steelblue;
    color:#fff;
    border-radius:10px;
    width: 200px;
    height: 60px;
    margin-top: 5%;
    font-size: 150%;
}

.btn-submit-over {
    border:0;
    background-color:blue;
    color:#fff;
    border-radius:10px;
    width: 200px;
    height: 60px;
    margin-top: 5%;
    font-size: 150%;
}

.btn-delete-bookmark {
    border:0;
    background-color:steelblue;
    color:#fff;
    border-radius:10px;
    width: 250px;
    height: 60px;
    font-size: 100%;
}

.btn-delete-bookmark-over {
    border:0;
    background-color:blue;
    color:#fff;
    border-radius:10px;
    width: 250px;
    height: 60px;
    font-size: 100%;
}

.footer {
    background-color: aliceblue;
    color:black;
    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}
.openai-logo {
    width: 30%;
}

#ai-prog {
  width: 90%;
  margin: auto;
  background-color: #ddd;
}

}

/*End of mobile size*/


/*progress bar*/
#ai-prog-bar {
  width: 1%;
  height: 30px;
  background-color: #32CD32;
}
/*End of progress bar*/