<!DOCTYPE html>
{% load static %}
<html lang="zh-TW">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site_name | default:"預設名稱"}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% block script%}
    {% endblock %}

</head>
<body>
<header class="flex-header">
    <div class="logo-wrap">
    <a href="/"><img class="logo" src="{% static 'img/ai_chef.png' %}" title="我最AI的私房料理首頁" alt="機器人大廚"></a>
    </div>
    <div class="site-title">
        {{site_name|default:"預設名稱"}}
    </div>
    <p class="set-subtitle" id="ptest">
        <q>讓AI開始走進你的廚房</q>
    </p>
</header>

<main class="main">

<div class="side-menu">
    {% load static %}
    <div class="menu">
        <a href="/">回首頁</a>
        <a href="/bookmark/">我的收藏</a>
        <a href="">熱門菜色</a>
    </div>
</div>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

</main>
    {% block progbar%}
    {% endblock %}
<footer class="footer">
    <div><strong>Powered by</strong></div>
    <img class="openai-logo" src="{% static 'img/OpenAI_Logo.svg' %}" title="OpenAI">
</footer>

</body>
</html>