{% extends 'base.html' %}

{% block script %}

<script>

window.onload = styleInit;

function styleInit(){
    console.log("bookmark init~")
    let btn = document.querySelectorAll(".btn-delete-bookmark");
    console.log(btn.length);

    for (let i=0; i<btn.length; i++) 
    {
        btn[i].onmouseover = () => btn[i].className =  "btn-delete-bookmark-over";
        btn[i].onmouseout = () => btn[i].className =  "btn-delete-bookmark";
    }
}

</script>

{% endblock %}

{% block content %}
<div><h1 style="color: #355E3B;">我的收藏清單</h2></div>
<div class="content-intro">

    {% if dishes_num != 0 %}

    {% for dish in dishes %}
    <div class="dish-name">{{dish.title}}</div>
    <pre style="white-space: pre-wrap;" >{{dish.content}}</pre>
    <div class="dish-table">{{dish.html_table|safe}}</div>
    <div id="bookmark_id"><input class="btn-delete-bookmark" name="btn-delete-bookmark" value="將這道菜從收藏移除" type='button' onclick="location.href='/delete_bookmark/{{dish.id}}';"></div>
    {% endfor %}

    {% else %}
        <h1 class="no-dishes">您還沒收藏任何食譜... </h1>
        <div>
            {% load static %}
            <img class="table" src="{% static 'img/empty_dish.png' %}" alt="空盤子" >
        </div>
    {% endif %}

</div>

{% endblock %}