{% extends 'base.html' %}

{% block script%}
{% load static %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}

   <div class="content-intro">
    還在想等一下要煮什麼嗎? 就讓AI大廚幫你設計菜色! 請下拉選單選擇食材與口味喜好後點擊上菜按鈕!
   </div>

<form name="ingredients" id="ingredients" method='POST' action="/trans/">
    {% csrf_token %}
   <div>
        <label class="label">請挑選一種蔬菜:</label>
   </div>
   <div>
        <select class="options" name="vege-select" id="vege">
            {% for vegetable in vegetable_list%}
                <option >{{vegetable}}</option>
            {%endfor%}
        </select>
        <script type="text/javascript">
            // listStyleChange("vege")
        </script>
   </div>

   <div>
        <label class="label">請挑選一種肉類:</label>
    </div>  
   <div>
        <select class="options" name="meat-select" id="meat">
            {% for meat in meat_list%}
                <option>{{meat}}</option>
            {%endfor%}
        </select>
        <script type="text/javascript">
            // listStyleChange("meat")
        </script>     
   </div>

   <div>
        <label class="label">請挑選口味偏好:</label>
   </div>
   <div>
        <select class="options" name="favor-select" id="favor">
            {% for favor in favor_list%}
                <option>{{favor}}</option>
            {%endfor%}
        </select>
        <script type="text/javascript">
            // listStyleChange("favor")
        </script>  
   </div>
   <p><input class="btn-submit" name="btn_submit" id="btn-submit" value='上菜!' type='button'></p>
</form>

{% endblock %}
