<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用戶註冊</title>
</head>
<body>

<form name="user" action="/register/add" method="post">
    {% csrf_token %}
    用戶編號:<input type="text" name="userID" id="userID"><br>
    用戶帳號:<input type="text" name="username" id="username"><br>
    用戶密碼:<input type="text" name="password" id="password"><br>
    用戶姓名:<input type="text" name="truename" id="truename"><br>
    性別:
    男 <input type="radio" name="sex" value="male">
    女 <input type="radio" name="sex" value="female">
    <br>
    年齡:<input type="text" name="age" id="age">
    <br>
    <input type="submit" name="submit" id="submit">
</form>

</body>
</html>